#About {
	margin: 50px auto 0;
	padding: 0 16px;
}

.intro {
	font-size: 2.6rem;
}

.intro-2 {
	margin-top: 30px;
	font-size: 2.8rem;
	font-weight: 800;
}

.headshot {
	display: block;
	width: 250px;
	margin: 40px 0 0;
	border-radius: 4px;
}

.skills-header {
	margin-top: 60px;
	font-size: 3.4rem;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.skills {
	background-color: lightgray;
	font-size: 2rem;
	padding: 10px;
}