#About {
	margin: 40px auto 0;
	max-width: 85%;
}

.intro {
	font-size: 2.6rem;
}

.intro-2 {
	margin-top: 20px;
	font-size: 2.8rem;
	font-weight: 800;
}

.headshot {
	max-width: 100%;
	margin-top: 20px;
}