#About {
	margin: 20px auto 0;
	padding: 0 16px;
	max-width: 1200px;
}

.bio {
	display: flex;
	flex-direction: column;
}

.intro, .intro-2 {
	margin-top: 20px;
}

.intro {
	font-size: 2.6rem;
}

.intro-2 {
	font-size: 2.8rem;
	font-weight: 800;
	span {
		@include text-gradient;
		font-size: 3rem;
	}
}

.headshot {
	display: block;
	min-width: 250px;
	max-width: 250px;
	margin: 40px 0 0;
	border-radius: 4px;
}

// Styles for What I Do section
.what-i-do {
	margin-top: 60px;
	:not(:first-child) {
		margin-top: 20px;
	}
	article {
		.wid-header {
			display: flex;
			// Align elements with bottom of container
			align-items: flex-end;
			img {
				height: 65px;
				width: auto;
				margin-right: 10px;
			}
			span {
				font-size: 3.4rem;
				@include text-gradient;
			}
		}
		.wid-text {
			margin-top: 7.5px;
			padding: 0 10px;
			font-size: 2.2rem;
			a {
				color: $link-footer-text-color;
			}
		}
	}
}