footer {
	background-image: linear-gradient(90deg,#ff8d4d,#f4494e);
	margin-top: 40px;
	#contact-links {
		text-align: center;
		font-size: 2.4rem;
	}
	.contact-info {
		padding: 10px;
		display: flex;
		justify-content: space-between;
	}
}