footer {
	background-color: #0D0C22;
	margin-top: 40px;
	#contact-header {
		color: $link-footer-text-color;
		text-align: center;
		padding-top: 20px;
		font-size: 3.4rem;
		font-weight: bold;
	}
	.contact-links {
		max-width: 500px;
		margin: auto;
		padding: 12.5px 0;
		display: flex;
		justify-content: space-around;
		// Icons
		& > * > img {
			height: 50px;
		}
	}
	.credit {
		text-align: center;
		color: #05BDF5;
		font-size: 1.1rem;
		padding-bottom: .5rem;
		a {
			color: #05BDF5;
			font-size: 1.2rem;
		}
	}
}