@font-face {
	font-family: 'Andes';
	src: URL('Andes.ttf') format('truetype');
}

#Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 35px 10px 15px;
	max-width: 1200px;
	margin: auto;
	box-shadow: 0 6px 30px 2px rgba(0,0,0,.03), 0 3px 15px 1px rgba(0,0,0,.02), 0 1px 8px 1px rgba(0,0,0,.01);
	a {
		text-decoration: none;
		font-family: 'Andes';
		font-size: 26px;
	}
	& > .name {
		font-family: 'Andes';
		font-size: 40px;
		letter-spacing: 2px;
		@include text-gradient;
	}
	& > .link-container {
		background-color: #1a1a1a;
		position: fixed;
		display: flex;
		justify-content: space-around;
		height: 50px;
		width: 100%;
		bottom: 0;
		right: 0;
		padding: 10px 0 10px;
		// Prevents clipping issue
		z-index: 1;
		& > * {
			background-image: $link-footer-text-color;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: $link-footer-text-color; 
			-moz-background-clip: text;
			-moz-text-fill-color: $link-footer-text-color;
			margin: 0 10px;
			// transition for text-gradient
			transition: -webkit-text-fill-color .5s, -moz-text-fill-color .5s;
		}
		& > *:hover {
			cursor: pointer;
			@include text-gradient;
		}
	}
}