.PasswordGen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .generatorForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #474747;
    padding: 2rem;
    border-radius: 10px;
    h1 {
      font-size: 2.6rem;
      margin-bottom: .5rem;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: .5rem;
      a {
        color: #dadada;
      }
    }
    .inputDiv {
      font-size: 2.4rem;
      margin: .5rem 0;
      input {
        font-size: 1.4rem;
        margin: 0 .75rem;
        padding: .4rem;
      }
      #length {
        width: 40px;
      }
    }
    button {
      font-size: 2.2rem;
      padding: .5rem .75rem;
      margin: 1rem 0;
    }
    #passContainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      #password {
        margin-right: 1rem;
      }
    }
  }
}
