/* Container styles */

#Projects {
	padding: 0 16px;
	max-width: 1200px;
	margin: 60px auto 0;
}

.projects-header {
	font-size: 3.4rem;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

/* Individual project styles */

.project {
	margin: 50px auto 0;
	.name {
		margin: auto;
		width: fit-content;
		text-align: center;
		font-family: 'Andes';
		font-size: 4rem;
		font-weight: normal;
		letter-spacing: 1px;
		@include text-gradient;
	}
	// Screenshot
	img {
		display: block;
		margin: 20px auto 0;
		width: auto;
		max-width: 600px;
		max-height: 500px;
	}
	.description {
		margin: 20px auto 0;
		font-size: 2.4rem;
		width: 90%;
	}
	.repo-links {
		width: 75%;
		display: flex;
		justify-content: space-between;
		margin: 15px auto;
		a {
			font-size: 3rem;
			color: $link-footer-text-color;
		}
	}
	.tech-stack {
		background-color: #2a2a2a;
		width: 90%;
		margin: 20px auto 30px;
		padding: 15px 0;
		border-radius: 7.5px;
		h3 {
			font-size: 3.4rem;
			font-weight: bold;
			text-align: center;
			margin: 0 10px 10px;
			color: #dadada;
		}
		hr {
			margin: 5px auto 20px;
			border-color: #dadada;
		}
		.tech-icons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			img {
				height: 50px;
				margin: 2.5px 5px;
			}
		}
	}
	// Horizontal Rule after each project
	hr {
		margin: 20px auto 0;
		width: 60%;
	}
}