/* Container styles */

#Projects {
	padding: 0 16px;
	margin-top: 60px;
}

.projects-header {
	font-size: 3.4rem;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

/* Individual project styles */

.project {
	margin-top: 40px;
	.name {
		margin: auto;
		width: fit-content;
		text-align: center;
		font-family: 'Andes';
		font-size: 4rem;
		font-weight: normal;
		letter-spacing: 1px;
		@include text-gradient;
	}
	// Screenshot
	img {
		display: block;
		margin: 20px auto 0;
		width: auto;
		max-width: 100%;
		max-height: 350px;
	}
	.description {
		margin-top: 20px;
		font-size: 2.4rem;
	}
	.tech-stack {
		background-color: #2a2a2a;
		padding: 7.5px 5px;
		border-radius: 7.5px;
		h3 {
			font-size: 2.8rem;
			text-align: center;
			margin: 10px;
			color: $link-footer-text-color;
		}
		hr {
			margin: 10px auto 15px;
		}
		.tech-icons {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
			img {
				height: 60px;
				margin: 2.5px 5px;
			}
		}
	}
	// Horizontal Rule after each project
	hr {
		margin: 20px auto 0;
		width: 75%;
	}
}