@media screen and (max-width: 600px) {
	.App {
		height: calc(100vh - 4.3rem);
	}
  
  .link-container {
		width: auto;
		position: static;
	}
}

@media screen and (min-width: 750px) {
	.headshot {
		margin: 0 20px 0 0;
	}
	.bio {
		flex-direction: row-reverse;
		align-items: center;
	}
}