@media screen and (min-width: 400px) {
	// increase size of icons in Contact Me section
	footer > .contact-info > * > img {
		height: 65px;
	}
}

@media screen and (max-width: 599px) {
	// Reset App height to offset header
	.App {
		height: calc(100vh - 50px);
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 600px) {
	// Switch links from bottom of screen to top
		// Set overflow-y to auto to avoid two scroll bars
	.App {
		overflow-y: auto;
	}
	#Header > .link-container {
		width: auto;
		position: static;
		> * {
			margin: 0 0 0 20px;
		}
	}
	// Thicken padding on sides
	#About {
		padding: 0 25px;
	}
	#Projects {
		padding: 0 25px;
		.project {
			img {
				max-height: 500px;
				max-width: 570px;
			}
		}
	}
}

@media screen and (min-width: 700px) {
	// Switch bio and headshot from column to side by side
	.bio {
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
	}
	.headshot {
		margin: 0 20px 0 0;
	}
}

@media screen and (min-width: 875px) {
	.project {
		.name {
			font-size: 6rem;
		}
		.tech-stack .tech-icons img {
			height: 60px;
			margin: 2.5px 5px;
		}
	}
}

@media screen and (min-width: 1100px) {
	.project {
		.name {
			font-size: 6.7rem;
		}
		.flex-columns {
			width: fit-content;
			min-width: 900px;
			margin: auto;
			display: flex;
			justify-content: space-around;
			align-items: center;
			.left-column {
				width: auto;
			}
			.right-column {
				width: 390px;
			}
		}
	}
}