@media screen and (max-width: 599px) {
	// Reset App height to offset header
	.App {
		height: calc(100vh - 50px);
	}
}

@media screen and (min-width: 600px) {
	// Switch links from bottom of screen to top
	.Header > .link-container {
		width: auto;
		position: static;
	}
	// Thicken padding on sides
	#About {
		padding: 0 25px;
	}
	#Projects {
		padding: 0 25px;
	}
}

@media screen and (min-width: 700px) {
	.bio {
		flex-direction: row-reverse;
		align-items: center;
	}
	.headshot {
		margin: 0 20px 0 0;
	}
}