* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Bougan";
  src: URL("Bougan.ttf") format("truetype");
}

body {
  color: #dadada;
  margin: 0;
  background-color: #1a1a1a;
  font-family: "Bougan", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#About {
  margin: 50px auto 0;
  padding: 0 16px;
  max-width: 1200px;
}

.bio {
  display: flex;
  flex-direction: column;
}

.intro {
  font-size: 2.6rem;
}

.intro-2 {
  margin-top: 30px;
  font-size: 2.8rem;
  font-weight: 800;
}
.intro-2 span {
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 3rem;
}

.headshot {
  display: block;
  min-width: 250px;
  max-width: 250px;
  margin: 40px 0 0;
  border-radius: 4px;
}

.what-i-do {
  margin-top: 60px;
}
.what-i-do :not(:first-child) {
  margin-top: 20px;
}
.what-i-do article .wid-header {
  display: flex;
  align-items: flex-end;
}
.what-i-do article .wid-header img {
  height: 65px;
  width: auto;
  margin-right: 10px;
}
.what-i-do article .wid-header span {
  font-size: 3.4rem;
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.what-i-do article .wid-text {
  margin-top: 7.5px;
  padding: 0 10px;
  font-size: 2.2rem;
}
.what-i-do article .wid-text a {
  color: #bdb8ff;
}

.App {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.section-header {
  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

hr {
  margin-bottom: 40px;
}

footer {
  background-color: #0D0C22;
  margin-top: 60px;
}
footer #contact-header {
  color: #bdb8ff;
  text-align: center;
  padding-top: 20px;
  font-size: 3.4rem;
  font-weight: bold;
}
footer .contact-links {
  max-width: 500px;
  margin: auto;
  padding: 12.5px 0;
  display: flex;
  justify-content: space-around;
}
footer .contact-links > * > img {
  height: 50px;
}
footer .credit {
  text-align: center;
  color: #05BDF5;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
footer .credit a {
  color: #05BDF5;
  font-size: 1.2rem;
}

@font-face {
  font-family: "Andes";
  src: URL("Andes.ttf") format("truetype");
}
#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px 10px 15px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 6px 30px 2px rgba(0, 0, 0, 0.03), 0 3px 15px 1px rgba(0, 0, 0, 0.02), 0 1px 8px 1px rgba(0, 0, 0, 0.01);
}
#Header a {
  text-decoration: none;
  font-family: "Andes";
  font-size: 26px;
}
#Header > .name {
  font-family: "Andes";
  font-size: 40px;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#Header > .link-container {
  background-color: #1a1a1a;
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 10px 0 10px;
  z-index: 1;
}
#Header > .link-container > * {
  background-image: #bdb8ff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #bdb8ff;
  -moz-background-clip: text;
  -moz-text-fill-color: #bdb8ff;
  margin: 0 10px;
  transition: -webkit-text-fill-color 0.5s, -moz-text-fill-color 0.5s;
}
#Header > .link-container > *:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Container styles */
#Projects {
  padding: 0 16px;
  max-width: 1200px;
  margin: 60px auto 0;
}

.projects-header {
  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

/* Individual project styles */
.project {
  padding: 30px 0 0;
  margin: auto;
}
.project .name {
  margin: auto;
  width: fit-content;
  text-align: center;
  font-family: "Andes";
  font-size: 5.5rem;
  font-weight: normal;
  letter-spacing: 1px;
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.project img {
  display: block;
  margin: 20px auto 0;
  width: auto;
  max-width: 100%;
  max-height: 360px;
}
.project .description {
  margin: 20px auto 0;
  font-size: 2.4rem;
  width: 90%;
}
.project .repo-links {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}
.project .repo-links a {
  font-size: 3rem;
  color: #bdb8ff;
}
.project .tech-stack {
  background-color: #2a2a2a;
  width: 90%;
  max-width: 750px;
  margin: 20px auto 30px;
  padding: 15px 0;
  border-radius: 7.5px;
}
.project .tech-stack h3 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 0 10px 10px;
  color: #dadada;
}
.project .tech-stack hr {
  margin: 5px auto 20px;
  border-color: #dadada;
}
.project .tech-stack .tech-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.project .tech-stack .tech-icons img {
  height: 50px;
  margin: 2.5px 5px;
}
.project hr {
  margin: 20px auto 40px;
  width: 75%;
}

@media screen and (min-width: 400px) {
  footer > .contact-info > * > img {
    height: 65px;
  }
}
@media screen and (max-width: 599px) {
  .App {
    height: calc(100vh - 50px);
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 600px) {
  .App {
    overflow-y: auto;
  }

  #Header > .link-container {
    width: auto;
    position: static;
  }
  #Header > .link-container > * {
    margin: 0 0 0 20px;
  }

  #About {
    padding: 0 25px;
  }

  #Projects {
    padding: 0 25px;
  }
  #Projects .project img {
    max-height: 500px;
    max-width: 550px;
  }
}
@media screen and (min-width: 700px) {
  .bio {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .headshot {
    margin: 0 20px 0 0;
  }
}
@media screen and (min-width: 875px) {
  .project .name {
    font-size: 6rem;
  }
  .project .tech-stack .tech-icons img {
    height: 60px;
    margin: 2.5px 5px;
  }
}
@media screen and (min-width: 1100px) {
  .project .name {
    font-size: 6.7rem;
  }
  .project .flex-columns {
    width: fit-content;
    min-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .project .flex-columns .left-column {
    width: auto;
  }
  .project .flex-columns .right-column {
    width: 390px;
  }
}

/*# sourceMappingURL=index.css.map */
