* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Bougan";
  src: URL("./Stylesheets/Fonts/Bougan.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Bougan", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#About {
  margin: 50px auto 0;
  padding: 0 16px;
}

.bio {
  display: flex;
  flex-direction: column;
}

.intro {
  font-size: 2.6rem;
}

.intro-2 {
  margin-top: 30px;
  font-size: 2.8rem;
  font-weight: 800;
}
.intro-2 span {
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 3rem;
}

.headshot {
  display: block;
  min-width: 250px;
  max-width: 250px;
  margin: 40px 0 0;
  border-radius: 4px;
}

.skills {
  margin-top: 60px;
}
.skills .skills-header {
  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.skills .skills-icons {
  background-color: lightgray;
  font-size: 2rem;
  padding: 10px;
}

.what-i-do {
  margin-top: 60px;
}

.App {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.section-header {
  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

footer {
  background-color: #0D0C22;
  margin-top: 40px;
}
footer #contact-header {
  color: #fbbfb7;
  text-align: center;
  padding-top: 20px;
  font-size: 3.4rem;
  font-weight: bold;
}
footer .contact-links {
  padding: 12.5px 0 20px;
  display: flex;
  justify-content: space-around;
}
footer .contact-links > * > img {
  height: 50px;
}
footer .credit {
  text-align: center;
  color: #fbbfb7;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}
footer .credit a {
  color: #fbbfb7;
  font-size: 1.2rem;
}

@font-face {
  font-family: "Andes";
  src: URL("./Stylesheets/Fonts/Andes.ttf") format("truetype");
}
#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px 10px 15px;
  box-shadow: 0 6px 30px 2px rgba(0, 0, 0, 0.03), 0 3px 15px 1px rgba(0, 0, 0, 0.02), 0 1px 8px 1px rgba(0, 0, 0, 0.01);
}
#Header a {
  text-decoration: none;
  color: black;
  font-family: "Andes";
  font-size: 26px;
}
#Header > .name {
  font-family: "Andes";
  font-size: 40px;
  letter-spacing: 2px;
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
#Header > .link-container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 10px 0 10px;
  background-color: white;
  z-index: 1;
}
#Header > .link-container > * {
  margin: 0 5px;
  background-clip: border-box;
  transition: -webkit-text-fill-color 0.5s, -moz-text-fill-color 0.5s;
}
#Header > .link-container > *:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Container styles */
#Projects {
  padding: 0 16px;
  margin-top: 60px;
}

.projects-header {
  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

/* Individual project styles */
.project {
  margin-top: 40px;
}
.project .name {
  text-align: center;
  font-family: "Andes";
  font-size: 4rem;
  letter-spacing: 1px;
  background-image: linear-gradient(90deg, #E090F0, #05BDF5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.project img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.project .description {
  margin-top: 20px;
  font-size: 2.4rem;
}
.project hr {
  margin: 20px auto 0;
  width: 75%;
}

@media screen and (min-width: 400px) {
  footer > .contact-info > * > img {
    height: 65px;
  }
}
@media screen and (max-width: 599px) {
  .App {
    height: calc(100vh - 50px);
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 600px) {
  #Header > .link-container {
    width: auto;
    position: static;
  }

  #About {
    padding: 0 25px;
  }

  #Projects {
    padding: 0 25px;
  }
}
@media screen and (min-width: 700px) {
  .bio {
    flex-direction: row-reverse;
    align-items: center;
  }

  .headshot {
    margin: 0 20px 0 0;
  }
}

/*# sourceMappingURL=index.css.map */
